* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

table.is_border {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.is_border thead{
    background-color: #ddd;
    text-align: center;
}

table.is_border th {
    border-width: 1px 1px 0;
    padding: 10px;
    border-style: solid;
    border-color: #aaa;
}

table.is_border td{
    border-width: 1px 1px 0;
    padding: 10px;
    border-style: solid;
    border-color: #aaa;
}

table.is_border tr:last-child td {
    border-width: 1px;
}

td.is_num {
    text-align: right;
}